<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load mytags %}
<!-- Название у нас будет Product -->
{% block title %}
Post details
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1><strong>{{ post_details.title|censor }}</strong></h1>
<br>
<h4 align="left"><em>{{ post_details.time_creation|date:'d.m.Y' }}</em></h4>
<hr>
<p>{{ post_details.post|censor }}</p>
{% if post_details.type == 'A' %}
    <table>
        <tr>
            <td>
                <form action="articles/{{ post_details.pk }}/edit/" >
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="articles/{{ post_details.pk }}/delete/" >
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </table>

{% else %}
    <table>
        <tr>
            <td>
                <form action="{{ post_details.pk }}/edit/" >
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="{{ post_details.pk }}/delete/" >
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </table>
{% endif %}

{% endblock content %}
